.circular-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-background {
  fill: none;
  stroke: #ddd; /* Background color */
}

.progress-bar {
  fill: none;
  stroke: #3498db; /* Progress color */
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
}

.percentage {
  font-size: 20px;
  fill: #333; /* Text color */
}
